#eq{
    display: flex;
    height: 23px;
    width: 30px;
    gap:3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bar{
    display: block;
    height: 10px;
    width: 2px;
    background-color:white;
    opacity: .5;
    transform-origin: bottom;
}
#eq.active .bar{
    animation: bar 0.4s ease 0s infinite alternate both;
    opacity: 1;
}
#eq.active .bar1{
    animation-delay: 0.2s;
}
#eq.active .bar2{
    animation-delay: 0.4s;
}
#eq.active .bar3{
    animation-delay: 0.6s;
}

#eq:hover{
    transform: scale(1.1);
}

#eq:hover .bar{
    opacity: 1;
}
@keyframes bar {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
