h1{
    color: white;
}
.gallery{
    /* display: flex; */
    --avatar-size: 200px;
    --avatar-count:4;
    display: grid;
    grid-template-columns: repeat(var(--avatar-count), calc(var(--avatar-size)*0.5));
    transition: grid-template-columns 500ms;
}
.gallery:hover{
    grid-template-columns: repeat(var(--avatar-count), calc(var(--avatar-size)*1.1));
}
.gallery-img{
    width: var(--avatar-size);
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 100vw;
    border: calc(var(--avatar-size)/50) solid rgba(252, 183, 10, 0.866);
    box-shadow: .1rem .1rem 0.9rem rgba(252, 183, 10, 0.5);
    transition: scale 500ms;
}

.gallery-img:hover{
    scale: 1.4;
    z-index: 2;
}

.gallery-img:hover + .gallery-img,
.gallery-img:has( + .gallery-img:hover)
{
    scale: 1.1;
}