.left-right{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    --prim-col: rgba(255, 255, 0, 0.528);
}

.left{
    max-width: 700px;
    /* flex-grow: 2; */
}
.card{
    padding: 2rem;
}
.card h1{
    font-weight: 400;
    font-size: 2rem;
    color:var(--prim-col);
    margin-bottom: 3rem;
}
.card p{
    font-weight: 100;
    /* font-size: large; */
    line-height: 1.4rem;
    word-spacing: 0.1rem;
    color: rgba(255, 255, 255, 0.74);
    margin-bottom: 1rem;
}
.right img{
    width: 100vw;
    max-width: 400px;
    object-fit: cover;
    aspect-ratio: 1;
    /* border-radius: 100vw;
    border: 0.5rem solid var(--prim-col); */
}
.right {
    /* width: 400px;
    height: 400px; */
    /* border: 1px solid yellow; */
}