@import url("reset.css");
@import url("eq.css");
@import url("media.css");
/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@font-face {
    font-family: "Fira Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

li a{
    color:currentColor;
    transition: scale 500ms;
}

li a:hover{
	color:rgb(212, 242, 137);
    font-size: 110%;
}

body {
  background:black;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size:small;
  padding: 0 25px;
}
header{
    display: grid;
    align-items:center;
    row-gap: 2ch;

}
#surabhi_img{
    max-width: 100%;
    height: auto;
}
#nav {
  color: #e9e9c0a5;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  /* gap:50px; */
}

li{
    list-style: none;
}

#separator {
   /* width: 100%; */
   max-width: 324px;
    margin: 0 auto;
}
@media screen and (min-width:768px){
}