@import url("reset.css");
@import url("eq.css");
/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@font-face {
    font-family: "Fira Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

body {
  background: black;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  padding: 0 25px;
}
header{
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items:end;

}
#surabhi_img{
    max-width: 100%;
    height: auto;
}
#nav {
  color: #e9e9c0a5;
}
.nav-links{
  display: flex;
  justify-content: space-around;
}

li{
    list-style: none;
}

@media screen and (max-width:768px){
    #nav{
        display: none;
    }
    header{
        grid-template-columns: auto 30px;
    }
}