#media{
    display: flex;
    justify-content: center;
    /* border: 2px solid white; */
    align-items: center;
    gap:6px;
    margin-top: 1rem;
}

#next-btn{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid rgba(255, 255, 255, 1);
    border-bottom: 5px solid transparent;
    border-right: 2px solid rgba(255, 255, 255, 1);
    opacity: 0.5;
    transition: goup 500ms;
    cursor: pointer;
  }
#next-btn:hover{
    transform: scale(1.2);
    opacity: 1;
}

#prev-btn{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid rgba(255, 255, 255, 1);
    border-bottom: 5px solid transparent;
    border-left: 2px solid rgba(255, 255, 255, 1);
    opacity: 0.5;
    transition: goup 500ms;
    cursor: pointer;
  }
#prev-btn:hover{
    transform: scale(1.1);
    opacity: 1;
}